body {
  padding-top: 50px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 350px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  text-align: left;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 350px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 350px;
}

.nossheader-logo
{
    padding-top: 12px;
	padding-left: 12px;
}

.nossheader-text
{
    position: relative;
    font-weight: 300;
    top: -39px;
    font-size: 210%;
    color: #666;
    left: 250px;
}
