body
{
    font-family: sans-serif;
    font-size: 14px;
    background-color: #E1E1E1;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.footer
{
    position: absolute;
    top: 100%;
    margin-top: -20px;
    font-size: 75%;
    width: 100%;
    text-align: center;
}

.header
{
    background-color: #b9090b;
    width: 100%;
    height: 60px;
}

.header-logo
{
    padding-top: 12px;
    padding-left: 12px;
    height: 60px;
    width: 100%;
}

.header-text
{
    position: relative;
    text-align: center;
    top: -35px;
    font-size: 200%;
    color: white;
    font-weight: bold;
    text-shadow: 0.1em 0.1em #000;
}

.repo-item-button
{
    z-index: 20;
    position: absolute;
    width: 176px;
    height: 246px;
    margin-left: -5px;
    margin-top: -5px;
    background-image: url(../assets/player-add.png);
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.repo-item-cover
{
    z-index: 10;
    position: absolute;
    width: 176px;
    height: 246px;
    margin-left: -5px;
    margin-top: -5px;
    display: none;
}

.repo-item-shadow
{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
}

.repo-item
{
    float: left;
    border: 1px solid #555;
    padding: 5px;
    width: 166px;
    height: 236px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
    background-color: #AAA;
    color: #444;
}

#repo-content
{
    overflow: auto;
    height: 62%;
}

.repo-color-0
{
    background-color: #e6e6fa;
}

.repo-color-1
{
    background-color: #faebd7;
}

.repo-color-2
{
    background-color: #f0e68c;
}

.repo-color-3
{
    background-color: #deb887;
}

.repo-color-4
{
    background-color: #fff0f5;
}

.repo-color-5
{
    background-color: #8fbc8f;
}

.repo-color-6
{
    background-color: #f0f8ff;
}

.repo-color-7
{
    background-color: #7fffd4;
}

.repo-item-heading
{
    height: 110px;
}

.repo-item-name
{
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 125%;
    margin-bottom: 20px;
}

.repo-item-description
{
    font-weight: normal;
    text-align: left;
}

.repo-item-field-name
{
    float: left;
    padding-top: 2px;
}

.repo-item-field-value
{
    padding-left: 80px;
    padding-top: 2px;
}

.repo-item-anchor:link, .repo-item-anchor:visited, .repo-item-anchor:active
{
    text-decoration: none;
    color: #222;
}

#repo-heading
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 150%;
}

#repo-heading a:link, #repo-heading a:visited, #repo-heading a:active
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#repo-heading a:hover
{
    text-decoration: underline;
}

#info-box
{
    width: 100%;
    position: absolute;
    left: 0;
    top: 75%;
}

#info-box-content
{
    background-color: #b9090b;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: white;
    height: 175px;
    margin: 10px;
}

.info-box-content-item, .info-box-content-item-header
{
    float: left;
    width: 33%;
}

.info-box-content-item
{
}

.info-box-content-item-line
{
    margin-top: 6px;
}

.info-box-content-item-header
{
    font-weight: bold;
    margin-bottom: 2px;
}

.info-box-content-item-line a:link, .info-box-content-item-line a:visited, .info-box-content-item-line a:active, .info-box-content-item-line a:hover
{
    text-decoration: underline;
    color: white;
    font-weight: normal;
}

.info-box-content-item-clear
{
    clear: left;
    height: 1px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: #D3423E;
}
