body
{
    font-family: sans-serif;
    font-size: 14px;
    background-color: #E1E1E1;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.footer
{
    position: absolute;
    top: 100%;
    margin-top: -20px;
    font-size: 75%;
    width: 100%;
    text-align: center;
}

.header
{
    background-color: #b9090b;
    width: 100%;
    height: 60px;
}

#repo-heading
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 150%;
}

#repo-content
{
	position: relative;
    overflow: auto;
}

#info-box
{
    z-index: 100;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
	margin-top: -180px;
}

.header-logo
{
    padding-top: 12px;
    padding-left: 12px;
    height: 60px;
    width: 100%;
}

.header-text
{
    position: relative;
    text-align: center;
    top: -35px;
    font-size: 200%;
    color: white;
    font-weight: bold;
    text-shadow: 0.1em 0.1em #000;
}

.repo-item-button
{
    z-index: 20;
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
    background-image: url(../assets/player-add.png);
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.repo-item-cover
{
    z-index: 10;
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
    display: none;
}

.repo-item-shadow
{
    background-color: #000;
    opacity: .3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
}

.repo-item-cover, .repo-item-shadow, .repo-item-button
{
    width: 196px;
	height: 266px;
}

.repo-item
{
    float: left;
    border: 1px solid #555;
    padding: 5px;
    width: 186px;
    height: 256px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
    background-color: #AAA;
    color: #444;
}

.repo-color-0
{
    background-color: #e6e6fa;
}

.repo-color-1
{
    background-color: #faebd7;
}

.repo-color-2
{
    background-color: #f0e68c;
}

.repo-color-3
{
    background-color: #deb887;
}

.repo-color-4
{
    background-color: #fff0f5;
}

.repo-color-5
{
    background-color: #8fbc8f;
}

.repo-color-6
{
    background-color: #f0f8ff;
}

.repo-color-7
{
    background-color: #7fffd4;
}

.repo-color-8
{
    background-color: #fcd3a1;
}

.repo-color-9
{
    background-color: #fb9b7d;
}

.repo-color-10
{
    background-color: #f2e88e;
}

.repo-color-11
{
    background-color: #be9867;
}

.repo-color-12
{
    background-color: #aad0d5;
}

.repo-color-13
{
    background-color: #6d9a6d;
}

.repo-color-14
{
    background-color: #ded6dd;
}

.repo-color-15
{
    background-color: #5fdfb4;
}

.repo-item-heading
{
    height: 140px;
}

.repo-item-name
{
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 125%;
    margin-bottom: 20px;
}

.repo-item-description
{
    font-weight: normal;
    text-align: left;
}

.repo-item-field-name
{
    float: left;
    padding-top: 2px;
}

.repo-item-field-value
{
    padding-left: 95px;
    padding-top: 2px;
}

.repo-item-anchor:link, .repo-item-anchor:visited, .repo-item-anchor:active
{
    text-decoration: none;
    color: #222;
}

#repo-heading a:link, #repo-heading a:visited, #repo-heading a:active
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#repo-heading a:hover
{
    text-decoration: underline;
}

#info-box-content
{
    background-color: #b9090b;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: white;
    height: 145px;
    margin: 10px;
}

.info-box-content-item, .info-box-content-item-header
{
    float: left;
    width: 33%;
}

.info-box-content-item
{
}

.info-box-content-item-line
{
    margin-top: 6px;
}

.info-box-content-item-header
{
    font-weight: bold;
    margin-bottom: 2px;
}

.info-box-content-item-line a:link, .info-box-content-item-line a:visited, .info-box-content-item-line a:active, .info-box-content-item-line a:hover
{
    text-decoration: underline;
    color: white;
    font-weight: normal;
}

.info-box-content-item-clear
{
    clear: left;
    height: 1px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border-top: 1px solid #D3423E;
}

#sub-header
{
	background-color: #6B6765;
	border-top: 1px solid #E1E1E1;
	height: 28px;
}

.sub-header-item
{
	float: left;
	border-right: 1px solid #E1E1E1;
	border-left: 1px solid #6B6765;
	border-bottom: 1px solid #6B6765;
	color: white;
	height: 16px;
	padding: 5px 20px 5px 20px;
}

#sub-header a:hover .sub-header-item
{
	background-color: #E1E1E1;
	border-top: 1px solid #6B6765;
	color: #b9090b;
}

#tab-content-lists
{
	display: none;
}

#lists-content
{
	width: 600px;
	position: absolute;
	left: 50%;
	top: 150px;
	height: 400px;
	margin-left: -300px;
	background-image: url(https://netflix.hs.llnwd.net/e1/en_us/layout/page_titles/bgvignette/950w/YourAccountBackGround.jpg);
	background-position: top left;
	background-repeat: no-repeat;
    background-color: #FFF;
    box-shadow: 2px 2px 2px #888;
	padding: 10px;
}

#lists-content-heading
{
	color: #3B3B3B;
	font: bold 18pt/1em arial, helvetica, sans-serif;
	margin-bottom: 20px;
}

.lists-content-item
{
	background-color: #EFECE8;
	font-size: 15px;
	color: black;
	padding: 10px;
	height: 75%;
	margin-left: 5px;
	margin-right: 5px;
}

.lists-content-item a:link, .lists-content-item a:visited
{
	text-decoration: none;
	color: #00458B;
	font-size: 125%;
}

.lists-content-item a:hover, .lists-content-item a:active
{
	text-decoration: underline;
	color: #b9090b;
	font-size: 125%;
}

.lists-content-item li
{
	height: 2.5em;
}