body
{
    font-family: sans-serif;
    font-size: 14px;
    background-color: #e1e1e1;
    margin: 0;
    padding: 10px;
}

a:link, a:visited, a:active, a:hover, td a:link, td a:visited, td a:active
{
	font-color: #00458b;
	color: #00458B;
	text-decoration: none;
}

td a:hover
{
	text-decoration: underline;
	color: #b9090b;
}

.header
{
    background-color: #b9090b;
    width: 100%;
    height: 60px;
}

#repo-heading
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 150%;
}

#repo-list-content, #tab-content-community, #tab-content-powered-by
{
	display: none;
}

.header-logo
{
    padding-top: 12px;
    padding-left: 12px;
    height: 60px;
    width: 100%;
}

.header-text
{
    position: relative;
    text-align: center;
    top: -35px;
    font-size: 200%;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}

.repo-item-button
{
    z-index: 20;
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
    background-image: url(../assets/player-add.png);
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.repo-item-cover
{
    z-index: 10;
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
    display: none;
}

.repo-item-shadow
{
    background-color: #000;
    opacity: .3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
}

.repo-item-cover, .repo-item-shadow, .repo-item-button
{
    width: 196px;
	height: 266px;
}

.repo-item-container
{
    float: left;
}

.repo-item
{
    border: 1px solid #555;
    padding: 5px;
    width: 186px;
    height: 256px;
    margin-bottom: 13px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
    background-color: #FFF;
    color: #444;
	background-repeat: no-repeat;
	background-size: 196px 266px; 
	background-position: center;
}

.repo-item-name
{
    color: #B9090B;
	background-color: #f2f2f2;
	border-top: 1px;
	border-right: 1px;
	border-left: 1px;
	border-bottom: 0;
	border-color: black;
	border-style: solid;
	margin: 12px 20px 0 10px;
	padding: 3px 0;
	font-size: 22px;
    font-weight: bold;
	text-align: center;
	text-transform: capitalize;
}

.standard-anchor:link, .standard-anchor:visited, .standard-anchor:active
{
    text-decoration: none;
    color: #222;
}

#repo-heading a:link, #repo-heading a:visited, #repo-heading a:active
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#repo-heading a:hover
{
    text-decoration: underline;
}

#info-box-content
{
    margin: 20px 20px 0 20px;
    border-top: 3px solid #b9090b;
    padding: 10px 10px 0 10px;
    color: #555;
    height: 145px;
}

.info-box-content-item, .info-box-content-item-header
{
    float: left;
    width: 33%;
}

.info-box-content-item-line
{
    margin-top: 6px;
}

.info-box-content-item-header
{
    font-weight: bold;
    margin-bottom: 2px;
}

.info-box-content-item-line a:link, .info-box-content-item-line a:visited, .info-box-content-item-line a:active
{
    text-decoration: none;
    color: #b9090b;
    font-weight: normal;
}

.info-box-content-item-line a:hover
{
    text-decoration: underline;
}

.info-box-content-item-clear
{
    clear: left;
    height: 1px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#sub-header
{
	background-color: #6B6765;
	height: 28px;
	overflow: hidden;
}

.sub-header-item
{
	float: left;
	border-right: 1px solid #E1E1E1;
	border-left: 1px solid #6B6765;
	border-bottom: 1px solid #6B6765;
	color: white;
	height: 16px;
	padding: 5px 20px 5px 20px;
}

#sub-header a:hover .sub-header-item
{
	background-color: #E1E1E1;
	border-top: 1px solid #6B6765;
	color: #b9090b;
}

#tab-content-lists
{
	display: none;
}

.content-padding
{
	height: 71%;
}

.content-padding-light
{
	height: 69%;
}

#lists-content
{
	width: 600px;
	position: absolute;
	left: 50%;
	top: 150px;
	height: 400px;
	margin-left: -300px;
	background-image: url(https://netflix.hs.llnwd.net/e1/en_us/layout/page_titles/bgvignette/950w/YourAccountBackGround.jpg);
	background-position: top left;
	background-repeat: no-repeat;
    background-color: #FFF;
    box-shadow: 2px 2px 2px #888;
	padding: 10px;
}

#lists-content-heading
{
	color: #3B3B3B;
	font: bold 18pt/1em arial, helvetica, sans-serif;
	margin-bottom: 20px;
}

.lists-content-item
{
	background-color: #EFECE8;
	font-size: 15px;
	color: black;
	padding: 10px;
	height: 75%;
	margin-left: 5px;
	margin-right: 5px;
}

.lists-content-item a:link, .lists-content-item a:visited
{
	text-decoration: none;
	color: #00458B;
	font-size: 125%;
}

.lists-content-item a:hover, .lists-content-item a:active
{
	text-decoration: underline;
	color: #b9090b;
	font-size: 125%;
}

.lists-content-item li
{
	height: 2.5em;
}

#balloon-container
{
	position: absolute;
	top: 200px;
	left: 295px;
	display: none;
	z-index: 100;
}

.balloon-frame
{
	border: 1px white solid;
	background-color: white;
	width: 289px;
    box-shadow: rgba(0, 0, 0, 0.796875) 0px 0px 15px 0px;
}

#balloon-heading
{
	background-color: #B9090B;
	color: white;
	text-transform: capitalize;
	font-size: 19px;
	font-weight: bold;	
	padding: 6px 12px 6px 12px;
}

#balloon-content
{
	font-size: 15px;
	padding: 12px;
}

#balloon-arrow-left
{
	position: absolute;
	top: 232px;
	left: 248px;
	width: 47px;
	height: 56px;
	display: none;
	z-index: 100;
}

#balloon-arrow-right
{
	position: absolute;
	top: 232px;
	left: 586px;
	width: 20px;
	height: 20px;
	display: none;
	z-index: 100;
}

#balloon-description
{
	margin-bottom: 8px;
}

.more-info a, .more-info a:hover, .more-info a:link, .more-info a:visited, .more-info a:hover, .more-info a:active
{
	color: #B9090B;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

.more-info a:hover
{
	text-decoration: underline;
}

.balloon-label
{
	font-weight: bold;
	float: left;
	width: 115px;
}

.baloon-field
{
	clear: both;
	margin-bottom: 3px;
}

#repo-heading img
{
	margin-left: 10px;
}

#repo-heading span
{
	margin-right: 10px;
}

.repo-list-item-container
{
	margin: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px #888;
	padding: 10px;
	cursor: pointer;
}

.repo-list-item-anchor:link, .repo-list-item-anchor:visited, .repo-list-item-anchor:active
{
    text-decoration: none;
    color: #B9090B;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 1.25em;
	margin-bottom: 3px;
}

.repo-list-item-description
{
	margin-bottom: 8px;
	font-style: italic;
}

.repo-list-item-label
{
	float: left;
	width: 100px;
}

repo-list-item-value
{
	clear: both;
}

#repstats
{
	float: right;
	font-size: .75em;
	font-style: italic;
	margin-top: -10px;
}

#repstats div
{
	text-align: right;
}

#lists-repos
{
	text-transform: capitalize;
}

.display-table
{
	background-color: white;
	margin-left: 1%;
	padding: 10px;
    font-family: sans-serif;
	border: none;
	border-collapse: collapse;
	width: 98%;
    box-shadow: 2px 2px 2px #888;
}

.display-table tr
{
	vertical-align: top;
}

.display-table-row
{
	border-top: none;
}

.display-table-cell
{
	font-size: 110%;
	font-style: italic;
}

.display-table-item-row-cell-0, .display-table-item-row-cell-1
{
	font-size: 90%;
}

.display-table-cell
{
	padding: 6px;
	font-weight: bold;
}

.display-table-row
{
	color: #00458B;
}

.display-table-row-secondary
{
	border-top: 2px solid #b9090b;
}

.display-table-item-row
{
	border-top: 1px solid #CCC;
}

.display-table-item-row-cell-0
{
	padding: 5px 10px 5px 25px;
	white-space: nowrap;
}

.display-table-item-row-cell-1
{
	padding: 5px;
}

#content-powered-by
{
	margin-top: 30px;
	overflow: auto;
}

.powered-by-item
{
	margin: 10px;
	padding: 10px;
	width: 350px;
	background-color: #BBB;
    box-shadow: 2px 2px 2px #333;
	float: left;
}

.powered-by-item-image
{
	text-align: center;
}

.powered-by-item-text
{
	margin-top: 6px;
	text-align: right;
	font-style: italic;
	font-weight: bold;
	font-size: 125%;
}